<section class="container-geral">
	<div class="container" id="container-blog">
		<div class="row">
			<div class="col-sm-3">					
			</div>
			<div class="col-sm">
				<div class="blog-post-area">
					<h2 class="title text-center">Blog Inside<span>OUT</span></h2>
					<% artigos.forEach(a => { %>
					<div class="single-blog-post">
						<h3><%= a.titulo %> </h3>
						<div class="post-meta">
							<ul>
								<li><i class="fa fa-user"></i> <%= a.autor.nome.toLocaleString() %>  </li>
								<li><i class="fa fa-clock-o"></i> 1:33 pm</li>
								<li><i class="fa fa-calendar"></i> <%= a.data %> </li>
							</ul>
							<span>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-half-o"></i>
							</span>
						</div>
						<div>
						<a href="">
							<img class="img-artigo--gambiarra" src=<%= a.img_1 %>  alt="">
						</a>
						</div>
						<p><%= a.descricao_curta %></p>
						<a  class="btn btn-primary" href="artigo/1">Ler Mais</a>
					</div>
					<hr>
					<% }) %>
					<div class="pagination-area">
						<ul class="pagination">
							<li><a href="" class="active">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href=""><i class="fa fa-angle-double-right"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>