		<section>
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<div class="left-sidebar">
							<h2>Categorias</h2>
							<div class="panel-group category-products" id="accordian"><!--category-productsr-->
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordian" href="#secrpg">
												<span class="badge pull-right"><i class="fa fa-plus"></i></span>
												Roleplaying
											</a>
										</h4>
									</div>
									<div id="secrpg" class="panel-collapse collapse">
										<div class="panel-body">
											<ul>
												<li><a href="">Dungeon and Dragons </a></li>
												<li><a href="">Pathfinder </a></li>
												<li><a href="">Tormenta 20 </a></li>
											
											
											</ul>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordian" href="#mens">
												<span class="badge pull-right"><i class="fa fa-plus"></i></span>
												Cardgames
											</a>
										</h4>
									</div>
									<div id="mens" class="panel-collapse collapse">
										<div class="panel-body">
											<ul>
												<li><a href="">Magic: The Gathering</a></li>
												<li><a href="">Outros</a></li>
											
											</ul>
										</div>
									</div>
								</div>
								
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordian" href="#womens">
												<span class="badge pull-right"><i class="fa fa-plus"></i></span>
												Boardgames
											</a>
										</h4>
									</div>
									<div id="womens" class="panel-collapse collapse">
										<div class="panel-body">
											<ul>
												<li><a href="">Galápagos</a></li>
												<li><a href="">Outros</a></li>
											
											</ul>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title"><a href="#">Outros</a></h4>
									</div>
								</div>
								
							</div><!--/category-productsr-->
						
							
													
							<div class="shipping text-center"><!--shipping-->
								<img src="" alt="" />
							</div><!--/shipping-->
							
						</div>
					</div>

					<div class="col-sm-9 padding-right">
						<div class="product-details">
							<div class="col-sm-5">
								<div class="view-product">
									<img src=<%= produto.img_1 %>  alt="" />
									<h3></h3>
								</div>
								<div id="similar-product" class="carousel slide" data-ride="carousel">


									<div class="carousel-inner">
										<div class="item active">
											<a href=""><img src=<%= produto.img_2 %> alt=""></a>
											<a href=""><img src=<%= produto.img_3 %> alt=""></a>
											<a href=""><img src=<%= produto.img_4 %> alt=""></a>
										</div>
									</div>


									<a class="left item-control" href="#similar-product" data-slide="prev">
										<i class="fa fa-angle-left"></i>
									</a>
									<a class="right item-control" href="#similar-product" data-slide="next">
										<i class="fa fa-angle-right"></i>
									</a>
								</div>

							</div>
							<div class="col-sm-7">
								<div class="product-information">
									<form method="post" action="/produto/{{id}}?_method=DELETE">
										<input type="hidden" name="_method" value="DELETE">
										<button type="submit" class="btn btn-default pull-right">
									</form>
																				
									<h2><%= produto.nome %></h2>
									<p><%= produto.distribuidor %></p>
									<img src="/images/product-details/rating.png" alt="" />
									<span>
										<span><%= parseFloat(produto.preco).toFixed(2) %></span>
										<label>Quantidade:</label>
										<input type="text" value="3" />
										<button type="button" class="btn btn-fefault cart">
											<i class="fa fa-shopping-cart"></i>
											Adicionar ao carrinho
										</button>
									</span>
									<p><b>Estoque:</b> <%= produto.estoque %> </p>
									<p><b>Condições:</b> Novo</p>
									<p><b>Marca:</b> <%= produto.distribuidor %>  </p>
									<a href=""><img src="/images/product-details/share.png" class="share img-responsive"
											alt="" /></a>
								</div>
							</div>
						</div>

						<div class="category-tab shop-details-tab">
							<div class="col-sm-12">
								<ul class="nav nav-tabs">
									<li><a href="#details" data-toggle="tab">Detalhes</a></li>
									<li class="active"><a href="#reviews" data-toggle="tab">Avaliações (5)</a></li>
								</ul>
							</div>
							<div class="tab-content">
								<div class="tab-pane fade" id="details">
									<div class="col-sm-3">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="/images/home/gallery1.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i
															class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="/images/home/gallery2.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i
															class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="/images/home/gallery3.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i
															class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="/images/home/gallery4.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i
															class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="tab-pane fade" id="companyprofile">
									<div class="col-sm-3">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="/images/home/gallery1.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i
															class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="/images/home/gallery3.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i
															class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="/images/home/gallery2.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i
															class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="/images/home/gallery4.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i
															class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="tab-pane fade" id="tag">
									<div class="col-sm-3">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="/images/home/gallery1.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i
															class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="/images/home/gallery2.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i
															class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="/images/home/gallery3.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i
															class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="/images/home/gallery4.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i
															class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="tab-pane fade active in" id="reviews">
									<div class="col-sm-12">
										
										<% comentarios.forEach(comentario => { %>
											<ul>
												<li><a href=""><i class="fa fa-user"></i><%= comentario.titulo %> </a></li>
												<li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
												<li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a></li>
											</ul>
											<article><%= comentario.comentario %>
												<hr>
										<% }) %>
											<b>Deixe o seu comentário</article>

										<form action="/comentar" method="post">
											<span>
												<input type="text" name="titulo" placeholder="Titulo" />
												<input class="invisible-field" type="text" name="idUsuario" value=<%= usuario.id %> />

												<input class="invisible-field" type="text" name="idProduto" value=<%= produto.id %> >
											</span>
											<textarea name="comentario"></textarea>
											<b>Avaliação: </b> <img src="/images/product-details/rating.png" alt="" />
											<button type="submit" class="btn btn-default pull-right">
												Enviar
											</button>
										</form>
									</div>
								</div>

							</div>
						</div>
						<div class="recommended_items">
							<h2 class="title text-center">Itens recomendados</h2>

							<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
								<div class="carousel-inner">
									<div class="item active">
										<div class="col-sm-4">
											<div class="product-image-wrapper">
												<div class="single-products">
													<div class="productinfo text-center">
														<img src="/images/shop/product9.jpg" alt="" />
														<h2>$56</h2>
														<p>Pathfindern</p>
														<button type="button" class="btn btn-default add-to-cart"><i
																class="fa fa-shopping-cart"></i>Add ao Carrinho</button>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="product-image-wrapper">
												<div class="single-products">
													<div class="productinfo text-center">
														<img src="/images/shop/product6.jpg" alt="" />
														<h2>$59</h2>
														<p>Tormenta</p>
														<button type="button" class="btn btn-default add-to-cart"><i
																class="fa fa-shopping-cart"></i>Add ao Carrinho</button>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="product-image-wrapper">
												<div class="single-products">
													<div class="productinfo text-center">
														<img src="/images/shop/product7.jpg" alt="" />
														<h2>$36</h2>
														<p>Magic Cards</p>
														<button type="button" class="btn btn-default add-to-cart"><i
																class="fa fa-shopping-cart"></i>Add ao Carrinho</button>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="col-sm-4">
											<div class="product-image-wrapper">
												<div class="single-products">
													<div class="productinfo text-center">
														<img src="/images/product-details/new.jpg" class="newarrival" alt="" />
														<h2>$56</h2>
														<p>Easy Polo Black Edition</p>
														<button type="button" class="btn btn-default add-to-cart"><i
																class="fa fa-shopping-cart"></i>Add to cart</button>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="product-image-wrapper">
												<div class="single-products">
													<div class="productinfo text-center">
														<img src="/images/home/recommend2.jpg" alt="" />
														<h2>$56</h2>
														<p>Easy Polo Black Edition</p>
														<button type="button" class="btn btn-default add-to-cart"><i
																class="fa fa-shopping-cart"></i>Add to cart</button>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="product-image-wrapper">
												<div class="single-products">
													<div class="productinfo text-center">
														<img src="/images/home/recommend3.jpg" alt="" />
														<h2>$56</h2>
														<p></p>
														<button type="button" class="btn btn-default add-to-cart"><i
																class="fa fa-shopping-cart"></i>Add to cart</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								</a>
								<a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
									<i class="fa fa-angle-right"></i>
								</a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>